@media screen and (max-width: 970px){

    body{
        font-size: 1em;
    }

    /* h1, h3{
        font-size: 1.5em;
    } */

    #herocontent{
        margin: 0 20px 0 20px !important;
    }

    header ul{
        display: none;
    }

    #heroCarousel .carousel-item img{
        width: 100%;
    }

    section.about{
        padding: 20px 20px 20px 20px;
    }

    section.services .servicemodule{
        display: block;
    }

    section.contact{
        display: block;
    }

    section.contact div,
    section.contact aside{
        width: 100%;
    }

    section.contact .form{
        margin-bottom: 20px;
    }

}
