@media screen and (max-width: 1000px){

    body{
        font-size: 1em;
    }

    /* h1, h3{
        font-size: 1.5em;
    } */

    header{
        width: 70%;
        height: 100%;
        right: 0;
        display: none;
    }

    nav{
        height: 100%;
    }
        nav ul{
            flex-direction: column;
            width: 80%;
            height: 100%;
        }

        nav ul li.logo{
            display: none;
        }

        nav ul li a{
            font-size: 1.5em;
        }

    #navButton{
        display: inline;
    }

    .burgerMenuDisplay{
        display: inline;
        animation: fadeLeft 0.5s ease-in forwards;
    }

    section.hero{
        padding: 50px 0px 50px 0px;
    }

    #herocontent{
        margin: 0 20px 0 20px !important;
    }

    #heroCarousel .carousel-item img{
        width: 100%;
    }

    section.about{
        padding: 20px 20px 20px 20px;
    }

    section.services .servicemodule{
        display: block;
    }

    section.contact{
        display: block;
    }

    section.contact div,
    section.contact aside{
        width: 100%;
    }

    section.contact .form{
        margin-bottom: 20px;
    }

    @keyframes fadeLeft {
        0%{
            transform: translateX(+300px);
            opacity: 0;
        }
    
        100%{
            transform: translateX(0) !important;
            opacity: 1;
        }
    }
}
