/*
BACKGROUND COLORS
#03E658 (3, 230, 88)
#29CC64 (41, 204, 100)
#48B36E (72, 179, 110) 
#58996C (88, 153, 108)
#62836A (98, 131, 106)

TEXT COLORS
*/
.frostedglass{
    background-color: rgba(29, 51, 36, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

body{
    text-align: center;
    font-size: 1.5em;
    line-height: 1.75em;
    color: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    background: #193b22;
}

h1, h2, h3{ font-weight: bold;}

#headerContainer{
    width: 100%;;
}

header, footer{
    width: 100%;
    /* padding: 10px 20px 10px 20px; */
    background: #365740;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    position: fixed;
    top: 0;
    z-index: 5;
    background: rgba(29, 51, 36, 0.9);
}

.button{
    padding: 10px 70px 10px 70px;
    border-radius: 8px;
    background: linear-gradient(0deg, #62836A, #48B36E);
    text-decoration: none;
    color: rgb(200, 200, 200);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.7)
}

    .button:hover{ background: linear-gradient(0deg, #48B36E, #62836A); }

nav{ 
    width: 100%;
    margin: 20px 0 10px 0;
}

    nav ul{
        /* height: 100%; */
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    nav ul li.navlink-home{
        display: none;
    }

    nav ul li a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.25em;
        padding:5px;
    }

    nav ul li a.navlink-active{
        text-decoration: underline;
    }
    
    nav ul li a:hover{
        color: #070c09;
        text-decoration: underline;
    }

    /* nav .burgerbutton{
        display: none;
    } */

#navButton{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height:50px;
    z-index: 5;
}

section{
    width: 100%;
    padding: 20px;
}

section.hero{
    background: url("../img/grass.webp");
    background-position:bottom;
    padding: 130px 0px 50px 0px;

    /* margin-top: 80px; */
    
}

    #herocontent{
        background-color: rgba(29, 51, 36, 0.5);
        backdrop-filter: blur(10px);
        padding: 20px 5px 20px 5px;
        border-radius: 8px;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.7);
        margin: 0 20% 0 20%;
    }

    #heroCarousel{ margin: 20px;}

    #heroCarousel .carousel-item img{
        width: 70%;
    }


section.about{
    padding: 20px 20% 20px 20%;
    background: linear-gradient(rgba(98, 131, 106, 0.5), rgba(98, 131, 106, 0.5)), url("../img/lawn.webp");
    background-position: 0px -1500px;
}

section.services{ background: url("../img/waterfall.webp");}

    section.services .servicecontainer{
        display: flex;
        justify-content: space-around;
    }

    section.services .servicemodule{
        background-color: rgba(29, 51, 36, 0.8);
        width: 30%;
        padding: 20px 5px 20px 5px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.7);
        
    }

    section.services .servicemodule img{ margin-bottom: 20px;}

section.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(29, 51, 36);
}

    section.contact div,
    section.contact aside{ width: 40%;}

    section.contact form{ text-align: left;}

    section.contact form input{ width: 100%;}

    #message{
        width: 100%;
        height: 400px;
    }

    section.contact form .submitbutton{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

.animate{
    opacity: 0;
}

.fadeup{
    animation: fadeup 0.5s ease-in forwards;
}

@keyframes fadeup {
    0%{
        transform: translateY(+100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0) !important;
        opacity: 1;
    }
}

/* RESIDENTIAL */

section.residential-paragraph{
    padding: 100px 60px 20px 60px;
    background: url('../img/background-dirt.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
}

section.gallery{
    padding: 20px;
    /* display: grid; */
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
}

section.gallery img{
    margin: 20px;
    width: 350px;
}

